
<!--
<ion-content class="app-theme-screen">
  <form ng-submit="doLogin()">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="loginData.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="loginData.password">
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Log in</button>
      </label>
    </div>
  </form>
</ion-content>
-->
<ion-view view-title="Login form">
  <ion-content padding="true" class="pre-signed-content">
    <!--<img class="logo" style="width:300px" src="images/logo/logo-and-tagline.png">-->
    <h3 class="logo"> Smart Quest </h3>

    <form name="form" ng-submit="doLogin(form)" autocomplete="off" novalidate>
      <div class="form-input-holder">
        <p class="hint" ng-show="form.password.$invalid && form.$submitted">
          Password is required
        </p>
        <input type="email" placeholder="Email" autocomplete="off" class="input text-input centerised" id="email-input" ng-model="user.email" name="email" required="" ng-class="{'error': form.email.$invalid && form.$submitted}" />
        <input type="password" placeholder="Password" class="input text-input centerised" id="password-input" ng-model="user.password" name="password" required="" autocomplete="off"
               ng-class="{'error': form.password.$invalid && form.$submitted}" />
        <input class="input submit-button capitalised" value="Log in" type="submit" />
       <!-- <div class="col text-right">
          <a ui-sref="linkToForgetState" id="forgetPwdLink">Forgot your password ?</a>
        </div> -->
      </div>

      <div class="row login-options">
        <div class="col">
          Not a member yet?
        </div>
        <div class="col">
          <button ui-sref="app.registration" class="form-submit-button capitalised redirect-button">
            Sign Up
          </button>

        </div>
      </div>
    </form>

    <h2 class="error-text">
      {{errorAlert}}
    </h2>


    <div class="down-bar">
        <div class="row login-or">
            <div class="login-or-hr-container"><hr /></div>
            <div id="login-or-word-container">or</div>
            <div class="login-or-hr-container"><hr /></div>
        </div>
        <div class="sign-up-options">
              <p class="capitalised sign-up-text">sign up with</p>
              <a href="/auth/linkedin" class="icon-span-margin"><img class="login-mini-icon" src="img/login/linkedin-icon-square-for-login-page.png" /></a>
              <a href="/auth/google" class="icon-span-margin"><img class="login-mini-icon" src="img/login/google-icon-square-for-login-page.png" /></a>
              <a href="/auth/facebook"><img class="login-mini-icon" src="img/login/twiiter-icon-square-for-login-page.png" /></a>
        </div>
    </div>



  </ion-content>
</ion-view>

